@use '../../themes/colors';

.container{
    color: transparent;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 2px;
    border-color: colors.$primary-medium;
    position: relative;

    &.checked{
        &::before{
            content: '';
            position: absolute;
            width: 60%;
            height: 60%;
            background: colors.$primary-medium;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}